PORT=3002
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=catalog
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=catalog
INTERNAL_SERVICE_TOKEN=dev-internal-token
